/* Semi Rooted Styleing Menu */
body {
    margin: 0;
    padding: 0;
    background-color: #F1F0EC;
}
a, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, pre, q, s, samp, small, span, strike, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    color:#20374F; 
    font-family:'Croissant One',sans-serif; 
    text-decoration:none;
    margin: 0;
    padding: 0;
}
ol,ul,li {
    list-style-type: none;
}

/* Header Master Styleing */
header {
    background-color: #ccb78c;
}
header ul {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow: auto;
    justify-content: center;
}
header ul li a {
    display: inline-block;
    font-size: 14px;
    padding: 20px 15px;
    color: #FFF;
    transition: 0.3s;
}
header ul li a:hover {
    color: #000;
}

/* Welcome Point Styleing */
.wpoint h1, .wpoint h4 {
    margin-bottom: 20px;
}

/* Triple Styleing */
.triple {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.triBox {
    flex:1;
    box-sizing: border-box;
    padding: 40px 20px;
    border-radius: 5px;
    margin: 0px 15px;
    background-color: #ccb78c;
    transition: 0.3s;
}
.triBox:hover {
    transition: 0.3s;
    background-color: #c2a56b;
}
.triBox h3 {
    color: #FFF;
}
.triBox strong {
    margin: 20px 0px 25px 0px;
    display: block;
    color: #f4f4f4;
}
.triBox button {
    background-color: #F1F0EC;
    color: #232323;
    font-family: "DM Serif Display", sans-serif;
    padding: 6px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.triBox button:hover {
    background-color: #FFF;
}

/* Main Styleing Menu */
.descFont, p, strong, h4, h5, h6 {
    font-family: "DM Serif Display", sans-serif;
    font-weight: 400;
}
.max {
    position: relative;
    display: block;
    width: 100%;
    padding: 50px 0px;
    z-index: 10;
    overflow: hidden;
}
.limit {
    display: block;
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}
.fitment {
    margin: 0px 15px;
}
.double {
    width: 50%;
    float: left;
}
.double img {
    width: 100%;
    height: auto;
}
.centering {
    text-align: center;
}
.white h1  {
    color: #FFF;
}
.white p  {
    color: #d6d6d6;
}
.softshadow {
    box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.12);
}
.default {
    appearance: none;
    border: none;
    outline: none;
}
.bbottom {
    border-bottom: 1px solid #cbcbcb;
}
.my-10 {
    margin: 10px 0px;
}
.py-10 {
padding: 10px 0px;
}
.myButton {
    padding: 10px 16px;
    border-radius: 5px;
    font-size: 13px;
    color: #FFF;
    background-color: #5ec277;
    transition: 0.3s;
    cursor: pointer;
    font-family: "DM Serif Display", sans-serif;
}
.myButton:hover {
    background-color: #1f6a0d;
    transition: 0.3s;
}
.fit {
    width: 100%;
}

/* Site Facilities Style */
.disFlex {
    display: flex;
    flex-wrap: wrap;
}
.listbox {
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    background-color: #59A859;
    margin-bottom: 20px;
    margin-right: 70px;
    transition: 0.3s;
}
.listbox:hover {
    background-color: #387638;
}
.listbox h2 {
    margin-bottom: 5px;
    color: #FFF;
    display: block;
}
.listbox strong {
    margin-bottom: 5px;
    color: #B6EDAA;
}

/* Customer Info Styleing */
.plank {
    padding: 50px;
    border-radius: 5px;
    margin: 30px 0px;
    background-color: #e2d6be;
}

/* Footer Styleing Menu */
footer {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 50px 0px;
}
footer::before {
    content: "";
    z-index: 2;
    background-image: url(./img/foot.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
footer::after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
}
.followbox {
    display: block;
    width: 70%;
    float: right;
    background-color: #FFF;
    border-radius: 5px;
}

/* Responsive Media */
@media screen and (max-width:1150px){
    .fitment {
        margin: 0px 25px;
    }
}
@media screen and (max-width:760px){
    .triple {
        flex-direction: column;
    }
    .triBox {
        margin: 12.5px 25px;
    }
    .double {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }
    .followbox {
        width: 100%;
        padding: 30px 0px;
    }
    .listbox {
        margin-right: 0px;
    }
    .mobileOrder1 {
        order: 1;
    }
    .mobileOrder2 {
        order: 2;
    }
}